[Unit]
Description=Get IMS service running at boot
Wants=system.slice
After=sysinit.target

[Service]
ExecStart=/root/safebikely/single_lock/appTest.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=IMS
User=molviken
Group=molviken

[Install]
WantedBy=multi-user.target
