[Unit]
Description=Get IMS service running at boot
Wants=system.slice
After=sysinit.target

[Service]
ExecStart=~/Safebikely2/device/samples/app2.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=IMS
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
